.manage-specialty__container {
    .manage-specialty__title {
        text-align: center;
        margin: 1rem 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.2rem;
    }

    .add-new-specialty {
        .save-content-specialty {
            margin: 1rem 0;
        }
    }

}

.label-upload {
    .preview-img {
        cursor: pointer;
        background-color: #55efc4;
        border-radius: 3px;
        font-size: 1rem;
        padding: 6px 1rem;
        height: 100%;

    }

    .preview-imagee {
        height: 200px;
        width: 250px;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}